/* base.css */

/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


#construction-banner {
    background-color: #ffeb3b; /* Yellow background for attention */
    color: #333;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
/* Color palette */
:root {
    --primary-color: #007bff;
    --secondary-color: #28a745;
    --background-color: #f8f8f8;
    --text-color: #333;
}

.section-title {
    font-size: 2rem; /* Adjust as needed */
    font-weight: 600; /* Adjust as needed */
    color: #333; /* Adjust as needed */
    margin-bottom: 2rem; /* Adjust as needed */
    text-align: center; /* Add this if you want all titles centered */
}
