/* components.css */
.button {
    display: inline-flex;
    align-items: center;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 700;
    border: 2px solid var(--primary-color);
    gap: 0.5rem;
}

.button-primary {
    background-color: var(--primary-color);
    color: #fff;
}

.button-primary:hover {
    background-color: transparent;
    color: var(--primary-color);
}