/*--------------------*\
    Footer Styles
\*--------------------*/
footer {
    padding: 4rem 0;
    background-color: var(--background-color);
    color: #777;
    text-align: center;
    border-top: 1px solid #eee;
    font-size: 1rem;
}