/*--------------------*\
    General Styles
\*--------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


#construction-banner {
    background-color: #ffeb3b; /* Yellow background for attention */
    color: #333;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
