/*--------------------*\
    Hero Section Styles
\*--------------------*/
#hero {
    padding: 4rem 0;
}

.hero-container {
    display: flex;
    align-items: center;
}

.hero-image-container {
    flex: 0 0 35%; /* Use percentage for flexibility */
    max-width: 350px; /* Optional: set a maximum width */
    margin-right: 2rem;
}

.hero-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hero-text {
    flex: 1;
}

.hero-title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.hero-subtitle {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 1rem;
}

.hero-description {
    color: #444;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 600px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social-links a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #555;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #007bff;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .hero-title {
        font-size: 2rem;
    }

    .hero-subtitle {
        font-size: 1rem;
    }

    .hero-description {
        font-size: 0.9rem;
    }

    .hero-image-container{
        margin-right: 1rem;
    }
}

@media (max-width: 576px) {
    .hero-container {
        flex-direction: column; /* Stack image and text */
        align-items: center; /* Center items */
        text-align: center; /* Center text */
    }

    .hero-image-container {
        margin-right: 0;
        margin-bottom: 1rem; /* Add space below image */
        flex: 0 0 80%; /* Let image take more width */
        max-width: 80%;
    }

    .hero-text {
        text-align: center; /* Center text */
    }

    .hero-content{
        align-items: center;
    }
}

@media (max-width: 400px){
    .hero-title{
        font-size: 1.7rem;
    }
}
