/*--------------------*\
    Newsletter Section Styles
\*--------------------*/
#newsletter {
    background-color: #e9ecef;
    padding: 4rem 0;
    /*text-align: center;*/
}

.newsletter-content {
    max-width: 700px;
    margin: 0 auto;
}

.newsletter-content p {
    margin-bottom: 2rem;
    font-size: 1.1rem;
    color: #555;
}

.subscribe-button {
    display: inline-block;
    background-color: #28a745;
    color: #fff;
    padding: 12px 24px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s ease;
    font-size: 1.1rem;
}

.subscribe-button:hover {
    background-color: #218838;
}
