/*--------------------*\
    Newsletter Section Styles
\*--------------------*/
#newsletter {
    padding: 6rem 0;
    text-align: center;
    border-top: 1px solid #eee;
}

.newsletter-content {
    max-width: 600px;
    margin: 0 auto;
}

.newsletter-content p {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    color: #555;
    line-height: 1.8;
}

.subscribe-button {
    display: inline-block;
    background-color: var(--primary-color);
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 1.2rem;
    border: 2px solid var(--primary-color);
}

.subscribe-button:hover {
    background-color: transparent;
    color: var(--primary-color);
}