html {
  font-family: muli, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Droid Sans", "Ubuntu", "Helvetica Neue", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  background-color: #f0ece7;
  font-size: 18px;
}

.container {
  margin: 2rem 2rem;
  max-width: 39rem;
  margin-inline: auto;
}

.hero {
  display: flex;
  justify-content: start;
  align-items: center;
}

.hero-img {
  width: 400px;
  border-radius: 12px;
}

@media screen and (max-width: 500px) {
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
