{{- if not .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {{- $position := 1 }}
    {{- $current := . }}
    {{- range $current.Ancestors.Reverse }}
      {{- if not .IsHome }}
    {
      "@type": "ListItem",
      "position": {{ $position }},
      "name": {{ .Title | jsonify | safeJS }},
      "item": {{ .Permalink | jsonify | safeJS }}
    },
      {{- $position = add $position 1 }}
      {{- end }}
    {{- end }}
    {{- /* Current page */}}
    {
      "@type": "ListItem",
      "position": {{ $position }},
      "name": {{ .Title | jsonify | safeJS }},
      "item": {{ .Permalink | jsonify | safeJS }}
    }
  ]
}
</script>
{{- end }}
