<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <meta charset="{{ .Site.Params.charset | default "UTF8" }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ .Description | default .Site.Params.description }}">
    <meta property="og:title" content="{{ .Title | default .Site.Title }}" />
    <meta property="og:description" content="{{ .Description | default .Site.Params.description }}" />
    <meta property="og:type" content="website" />
    {{ $image := "" }}
    {{ with .Params.featured_image }}
      {{ $image = . }}
    {{ else }}
      {{ $image = .Site.Params.image }}
    {{ end }}
    <meta property="og:image" content="{{ $image | absURL }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ .Title | default .Site.Title }}" />
    <meta name="twitter:description" content="{{ .Description | default .Site.Params.description }}" />
    <meta name="twitter:image" content="{{ $image | absURL }}" />
    <title>{{ .Title | default .Site.Title }}</title>

    {{ $style := resources.Get "css/style.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">

    {{ $chromaStyle := resources.Get "css/chroma.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $chromaStyle.RelPermalink }}">

    {{ $lityStyle := resources.Get "css/lity.min.css" | fingerprint }}
    <link rel="stylesheet" href="{{ $lityStyle.RelPermalink }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Mulish:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/images/apple-touch-icon.png" | relURL }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/images/favicon-32.png" | relURL }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/images/favicon-16.png" | relURL }}">
    <link rel="icon" type="image/png" sizes="48x48" href="{{ "/assets/images/favicon-48.png" | relURL }}">

    {{ partial "analytics.html" . }}
    {{ partial "seo/schema.html" . }}
    {{ partial "seo/schema-homepage.html" . }}
</head>

<body data-page-kind="{{ .Kind }}" data-enable-code-copy-button="{{ .Site.Params.enableCodeCopyButton }}">
    {{ partial "header.html" . }}

    <main>
        {{ block "main" . }}{{ end }}
    </main>

    {{ partial "footer.html" . }}

    {{ $script := resources.Get "js/script.js" | minify | fingerprint }}
    <script src="{{ $script.RelPermalink }}"></script>

    {{ if .Site.Params.enableCodeCopyButton }}
    {{ $copyCodeScript := resources.Get "js/copy-code.js" | minify | fingerprint }}
    <script src="{{ $copyCodeScript.RelPermalink }}"></script>
    {{ end }}

    {{ $jqueryScript := resources.Get "js/jquery.min.js" | fingerprint }}
    <script src="{{ $jqueryScript.RelPermalink }}"></script>

    {{ $lityScript := resources.Get "js/lity.min.js" | fingerprint }}
    <script src="{{ $lityScript.RelPermalink }}"></script>
</body>

</html>