<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <meta charset="{{ .Site.Params.charset | default "UTF8" }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ .Description | default .Site.Params.description }}">
    <title>{{ .Title | default .Site.Title }}</title>

    {{ $style := resources.Get "css/style.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">

    {{ $chromaStyle := resources.Get "css/chroma.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $chromaStyle.RelPermalink }}" media="print" onload="this.media='all'">

    {{ $lityStyle := resources.Get "css/lity.min.css" | fingerprint }}
    <link rel="stylesheet" href="{{ $lityStyle.RelPermalink }}" media="print" onload="this.media='all'">

    {{ $subscriptionStyle := resources.Get "css/subscription.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $subscriptionStyle.RelPermalink }}" media="print" onload="this.media='all'">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Mulish:wght@400;700&display=swap"
        rel="stylesheet" media="print" onload="this.media='all'">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" media="print" onload="this.media='all'">
    {{ $apple := resources.Get "images/apple-touch-icon.png" | fingerprint }}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ $apple.RelPermalink }}">
    {{ $favicon32 := resources.Get "images/favicon-32.png" | fingerprint }}
    <link rel="icon" type="image/png" sizes="32x32" href="{{ $favicon32.RelPermalink }}">
    {{ $favicon16 := resources.Get "images/favicon-16.png" | fingerprint }}
    <link rel="icon" type="image/png" sizes="16x16" href="{{ $favicon16.RelPermalink }}">
    {{ $favicon48 := resources.Get "images/favicon-48.png" | fingerprint }}
    <link rel="icon" type="image/png" sizes="48x48" href="{{ $favicon48.RelPermalink }}">

    {{ partial "analytics.html" . }}
    {{ partial "seo/social.html" . }}
    {{ partial "seo/schema.html" . }}
    {{ partial "seo/schema-homepage.html" . }}
</head>

<body data-page-kind="{{ .Kind }}" data-enable-code-copy-button="{{ .Site.Params.enableCodeCopyButton }}" data-enable-search="{{ .Site.Params.enableSearch }}">
    {{ partial "header.html" . }}

    <main>
        {{ block "main" . }}{{ end }}
    </main>

    {{ partial "footer.html" . }}

    {{ $script := resources.Get "js/script.js" | minify | fingerprint }}
    <script src="{{ $script.RelPermalink }}" defer></script>

    {{ if .Site.Params.enableCodeCopyButton }}
    {{ $copyCodeScript := resources.Get "js/copy-code.js" | minify | fingerprint }}
    <script src="{{ $copyCodeScript.RelPermalink }}" defer></script>
    {{ end }}

    {{ $jqueryScript := resources.Get "js/jquery.min.js" | fingerprint }}
    <script src="{{ $jqueryScript.RelPermalink }}" defer></script>

    {{ $lityScript := resources.Get "js/lity.min.js" | fingerprint }}
    <script src="{{ $lityScript.RelPermalink }}" defer></script>
    {{ partial "search_modal.html" . }}
    {{- if .Site.Params.enableSearch -}}
    {{ $fuseScript := resources.Get "js/fuse.min.js" | fingerprint }}
    <script src="{{ $fuseScript.RelPermalink }}" defer></script>
    {{ $searchScript := resources.Get "js/search.js" | minify | fingerprint }}
    <script src="{{ $searchScript.RelPermalink }}" defer></script>
    {{- end -}}
</body>

</html>
