<section id="contact">
    <div class="container connect-container">
        <div class="connect-content">
            <h2 class="section-title">{{ .Site.Data.sections.contact.title }}</h2>
            <p class="connect-summary">{{ .Site.Data.sections.contact.summary | markdownify }}</p>
            <div class="contact-details">
                <p><a href="mailto:{{ .Site.Data.sections.contact.email }}" class="button button-primary"><i class="fas fa-envelope"></i> {{ .Site.Data.sections.contact.email }}</a></p>
                <div class="social-links">
                    {{ range .Site.Data.sections.contact.social_links }}
                    <a href="{{ .url }}" target="_blank" aria-label="{{ .name }}"><i class="{{ .icon }}"></i></a>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>