<header id="site-header">
    <div class="container">
        <a href="{{ "/" | relURL }}" class="logo">
            <picture>
                {{ $original := resources.Get "images/contact-image.png" }}
                {{ if $original }}
                    {{ $webp := $original.Resize "100x webp" }}
                    <source srcset="{{ $webp.RelPermalink }}" type="image/webp">
                    <img src="{{ $original.RelPermalink }}" alt="Vijay Anantharamaiah Logo" class="logo-img" width="50" height="50" loading="lazy">
                {{ end }}
            </picture>
        </a>
        <nav>
            <button class="nav-toggle" aria-label="Toggle Navigation">
                <span class="hamburger"></span>
            </button>
            <ul class="nav-list">
                {{- if .Site.Params.enableSearch -}}
                <li class="nav-item"><button id="search-button" class="nav-link" aria-label="Search" title="Search"><i class="fas fa-search"></i></button></li>
                {{- end -}}
                <li class="nav-item"><a href="{{ "#hero" | relURL }}" class="nav-link js-scrollspy-item">Home</a></li>
                <li class="nav-item"><a href="{{ "#expertise" | relURL }}" class="nav-link js-scrollspy-item">Expertise</a></li>
                <li class="nav-item"><a href="{{ "#writing" | relURL }}" class="nav-link js-scrollspy-item">Writing</a></li>
                <li class="nav-item"><a class="nav-link{{ if or (eq .Section "posts") (eq .Type "tags") (eq .Type "categories") }} active{{ end }}" href="{{ "/posts/" | relURL }}">Blog</a></li>
                <li class="nav-item"><a class="nav-link{{ if or (eq .RelPermalink "/series/") (eq .Type "series") }} active{{ end }}" href="{{ "/series/" | relURL }}">Series</a></li>
                <li class="nav-item"><a href="{{ "#speaking" | relURL }}" class="nav-link js-scrollspy-item">Speaking</a></li>
                <li class="nav-item"><a class="nav-link js-scrollspy-item{{ if or (eq .RelPermalink "/#workshops") (eq .Section "workshops") }} active{{ end }}" href="/#workshops">Workshops</a></li>
                <li class="nav-item"><a href="{{ "#contact" | relURL }}" class="nav-link js-scrollspy-item">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>