<section id="hero">
    <div class="container hero-container">
        <div class="hero-text">
            <h1 class="hero-title">{{ .Site.Data.sections.hero.title }}</h1>
            <h2 class="hero-subtitle">{{ .Site.Data.sections.hero.subtitle }}</h2>
            <p class="hero-description">{{ .Site.Data.sections.hero.description | markdownify }}</p>
            <div class="social-links">
                <a href="https://www.linkedin.com/in/vijayanant/" target="_blank" aria-label="LinkedIn"><i class="fab fa-linkedin"></i></a>
                <a href="https://vijayanant.substack.com/" target="_blank" aria-label="Substack"><i class="fas fa-newspaper"></i></a>
            </div>
            <a href="files/Vijay-Anantharamaiah.pdf" target="_blank" class="button button-primary" aria-label="Download Vijay Anantharamaiah's Resume"><i class="fas fa-download"></i> Download Resume</a>
        </div>
    </div>
</section>
