<section id="writing">
    <div class="container">
        <h2 class="section-title">{{ .Site.Data.sections.writing.title }}</h2>
        <p class="section-intro">{{ .Site.Data.sections.writing.intro | markdownify }}</p>
        
        <h3 class="writing-subsection-title">Featured Articles</h3>
        <div class="writing-grid" id="featured-posts-grid">
            {{ range .Site.Data.sections.writing.featured_articles }}
            <div class="writing-item">
                <h3 class="writing-title"><a href="{{ .link }}">{{ .title }}</a></h3>
                <p class="writing-meta"><span>{{ .date }}</span></p>
                <p class="writing-description">{{ .description | markdownify }}</p>
                <a href="{{ .link }}" class="read-more-button">Read More &rarr;</a>
            </div>
            {{ end }}
        </div>



        <div class="text-center" style="margin-top: 3rem;">
            <a href="/posts/" class="button button-primary">View All Posts &rarr;</a>
        </div>
    </div>
</section>