{{ define "main" }}
<section id="404" class="text-center full-height-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="section-title">404</h1>
                <h2>Oops! Page Not Found</h2>
                <p>Sorry, but the page you were trying to view does not exist.</p>
                <p>You can <a href="{{ "/" | relURL }}">return to the homepage</a> or <a href="mailto:hello@vijayanant.com">contact me</a> if you need help.</p>
            </div>
        </div>
    </div>
</section>
{{ end }}