{{ if .Page.Site.Params.enableNewsletter }}
  {{ $formType := .Get "type" | default "simple" }}
  {{ $title := .Get "title" }}
  {{ $description := .Get "description" }}
  {{ $instanceId := printf "%d" .Ordinal }}
  {{ $containerId := printf "sf3z48b7f20d89ba1f71a16fc74002a2c3d748274256fd50746f0fd0c7232461662e_%s" $instanceId }}
  {{ $formId := printf "zcampaignOptinForm_%s" $instanceId }}

  <script type="text/javascript">
    function runOnFormSubmit_{{ $containerId }}(th){
      if (typeof gtag === 'function') {
        gtag('event', 'sign_up', {
          'event_category': 'engagement',
          'event_label': 'newsletter_subscription',
          'method': 'zoho_campaigns'
        });
      }
    };

    (function() {
      function initZoho() {
        if (typeof setupSF === 'function') {
          const container = document.getElementById('{{ $containerId }}');
          const form = container.querySelector('form');
          // Zoho script is hardcoded to look for "zcampaignOptinForm". 
          // We temporarily give it what it wants so it binds to THIS specific form.
          const originalId = form.id;
          form.id = 'zcampaignOptinForm';
          setupSF('{{ $containerId }}','ZCFORMVIEW',false,'light',false,'0');
          // Reset ID after a short delay so HTML remains valid
          setTimeout(function() { if(form.id === 'zcampaignOptinForm') form.id = originalId; }, 1000);
        } else {
          setTimeout(initZoho, 100);
        }
      }
      if (document.readyState === 'complete') { initZoho(); } 
      else { window.addEventListener('load', initZoho); }
    })();
  </script>
  <script type="text/javascript" src="https://zgp4-zgp4.maillist-manage.in/js/optin.min.js"></script>

  {{ if eq $formType "full" }}
  <div class="newsletter-section">
    <h3 class="newsletter-title">{{ if $title }}{{ $title }}{{ else }}Stay Updated{{ end }}</h3>
    <p class="newsletter-description">{{ if $description }}{{ $description }}{{ else }}Get new articles and updates delivered directly to your inbox.{{ end }}</p>
    <div id="{{ $containerId }}" data-type="signupform">
      <form method="POST" id="{{ $formId }}" class="newsletter-form" action="https://zgp4-zgp4.maillist-manage.in/weboptin.zc">
        <div class="newsletter-form-fields">
            <input type="email" name="CONTACT_EMAIL" id="EMBED_FORM_EMAIL_LABEL" placeholder="Your email address" required>
            <input type="submit" value="Subscribe" id="zcWebOptin" name="SIGNUP_SUBMIT_BUTTON">
        </div>
        <div class="newsletter-message"></div>
        <input type="hidden" id="fieldBorder" value="">
        <input type="hidden" id="submitType" name="submitType" value="optinCustomView">
        <input type="hidden" id="emailReportId" name="emailReportId" value="">
        <input type="hidden" id="formType" name="formType" value="QuickForm">
        <input type="hidden" name="zx" id="cmpZuid" value="1dfb33ae41">
        <input type="hidden" name="zcvers" value="2.0">
        <input type="hidden" name="oldListIds" id="allCheckedListIds" value="">
        <input type="hidden" id="mode" name="mode" value="OptinCreateView">
        <input type="hidden" id="zcld" name="zcld" value="1409a7aa1c1c909b">
        <input type="hidden" id="zctd" name="zctd" value="1409a7aa1c1c8e31">
        <input type="hidden" id="document_domain" value="">
        <input type="hidden" id="zc_Url" value="zgp4-zgp4.maillist-manage.in">
        <input type="hidden" id="new_optin_response_in" value="0">
        <input type="hidden" id="duplicate_optin_response_in" value="0">
        <input type="hidden" name="zc_trackCode" id="zc_trackCode" value="ZCFORMVIEW">
        <input type="hidden" id="zc_formIx" name="zc_formIx" value="3z48b7f20d89ba1f71a16fc74002a2c3d748274256fd50746f0fd0c7232461662e">
        <input type="hidden" id="viewFrom" value="URL_ACTION">
      </form>
    </div>
  </div>
  {{ else }}
  <div class="newsletter-simple-form-wrapper">
    {{ if $title }}<p class="newsletter-simple-title">{{ $title }}</p>{{ end }}
    <div id="{{ $containerId }}" data-type="signupform">
        <form method="POST" id="{{ $formId }}" class="newsletter-form newsletter-form-simple" action="https://zgp4-zgp4.maillist-manage.in/weboptin.zc">
          <div class="newsletter-form-fields">
            <input type="email" name="CONTACT_EMAIL" id="EMBED_FORM_EMAIL_LABEL" placeholder="Your email address" required>
            <input type="submit" value="Subscribe" id="zcWebOptin" name="SIGNUP_SUBMIT_BUTTON">
          </div>
          <div class="newsletter-message"></div>
            <input type="hidden" id="fieldBorder" value="">
            <input type="hidden" id="submitType" name="submitType" value="optinCustomView">
            <input type="hidden" id="emailReportId" name="emailReportId" value="">
            <input type="hidden" id="formType" name="formType" value="QuickForm">
            <input type="hidden" name="zx" id="cmpZuid" value="1dfb33ae41">
            <input type="hidden" name="zcvers" value="2.0">
            <input type="hidden" name="oldListIds" id="allCheckedListIds" value="">
            <input type="hidden" id="mode" name="mode" value="OptinCreateView">
            <input type="hidden" id="zcld" name="zcld" value="1409a7aa1c1c909b">
            <input type="hidden" id="zctd" name="zctd" value="1409a7aa1c1c8e31">
            <input type="hidden" id="document_domain" value="">
            <input type="hidden" id="zc_Url" value="zgp4-zgp4.maillist-manage.in">
            <input type="hidden" id="new_optin_response_in" value="0">
            <input type="hidden" id="duplicate_optin_response_in" value="0">
            <input type="hidden" name="zc_trackCode" id="zc_trackCode" value="ZCFORMVIEW">
            <input type="hidden" id="zc_formIx" name="zc_formIx" value="3z48b7f20d89ba1f71a16fc74002a2c3d748274256fd50746f0fd0c7232461662e">
            <input type="hidden" id="viewFrom" value="URL_ACTION">
        </form>
    </div>
  </div>
  {{ end }}
{{ end }}