<div class="note-box note-type-{{ .Get "type" | default "info" }}">
    <div class="note-meta">
        {{ if eq (.Get "type") "log" }}{{ partial "icons/book.html" . }} Log
        {{ else if eq (.Get "type") "info" }}{{ partial "icons/info-circle.html" . }} Info
        {{ else if eq (.Get "type") "tip" }}{{ partial "icons/lightbulb.html" . }} Tip
        {{ else if eq (.Get "type") "warning" }}{{ partial "icons/exclamation-triangle.html" . }} Warning
        {{ else if eq (.Get "type") "danger" }}{{ partial "icons/skull-crossbones.html" . }} Danger
        {{ else }}{{ partial "icons/book.html" . }} Note
        {{ end }}
    </div>
    {{ with .Get "title" }}
        <p class="note-title">{{ . }}</p>
    {{ end }}
    {{ .Inner | markdownify }}
</div>
